{% extends 'base.html.twig' %}

{% block title %}Hey I'm a box{% endblock %}

{% block body %}
    
    <div class=" " style=" height: 50px; ">
         <img src="{{ asset(url_image)}}" class="rounded mx-auto d-block" alt="My image">
    </div>
{% endblock %}
